/* PC */
@media screen and (min-width: 992px) {
  .mobile-header {
    display: none;
  }
  .only-show-on-mobile {
    display: none;
  }
}

/* tablet and mobile */
@media screen and (max-width: 991px) {
  .navbar {
    position: relative;
  }
  .navbar .logo {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
  }
  .navbar ul {
    display: none;
  }
  .toggle-menu svg {
    width: 24px;
  }
  .menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
  }
  .menu-drawer {
    position: fixed;
    inset: 0 40% 0 0;
    background: #fff;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s ease;
    padding: 60px;
  }

  .menu-drawer ul {
    margin-top: 32px;
  }

  .menu-drawer ul a {
    padding: 14px 0;
    color: #333;
    display: block;
    font-weight: 500;
  }

  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  .separate {
    border-top: 1.5px solid #333;
  }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .only-show-on-mobile {
    display: none;
  }
  .hero-img {
    display: none;
  }
  .hero-wrap .info {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .hero-wrap .desc {
    width: 80%;
    margin: 30px auto auto;
  }

  .clients .client-images {
    flex-wrap: wrap;
    justify-content: center;
  }
  .guide-item {
    margin: 0;
    flex: 1;
  }

  .featured .featured-list {
    grid-template-columns: 1fr;
  }

  .stats .row {
    flex-direction: column;
  }

  .stats .stats-img,
  .stats .info {
    width: 100%;
  }

  .stats .stats-img {
    /* đảo vị trí phần tử  */
    order: 2;
    margin-top: 80px;
  }

  .stats .info {
    order: 1;
    padding: 0;
    text-align: center;
  }

  .stats .info .sub-title {
    width: 100%;
  }

  .stats .info .sub-title::before {
    left: 50%;
  }

  .stats .info .desc {
    width: 100%;
  }

  .stats .row-quatity {
    flex-direction: row;
  }

  .stats .quantity {
    font-size: 5rem;
  }

  .stats .quantity-desc {
    font-size: 1.4rem;
  }

  .subcription .image {
    display: none;
  }

  .footer .row-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 80px;
    margin: 0 80px;
  }

  .footer .desc {
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .menu-drawer {
    inset: 0 25% 0 0;
    padding: 40px;
  }
  .navbar .actions {
    display: none;
  }
}
